a {
  text-decoration: none;
  color: inherit;
}

.registration {
  &__header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__content {
    padding: 2.5rem;
    text-align: center;
  }
}
